doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title PiPify
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/picnicss/6.2.4/picnic.min.css" integrity="sha256-/tScERl4HH8CSZnCW6OTp3HYhWrUA3BqhA5BJChuMFM=" crossorigin="anonymous")
    link(rel="stylesheet" href="style.css")
  
  body
    header
      .wrapper
        h1 PiPify
        h2 Choose any video from a webpage to see in PiP
        h3
          | Works with any 
          code= "<video>"
          | :
          br
          | YouTube, Netflix, Vimeo, Plex, and more
    
    main
      .wrapper
        p#install
          | <b>To install</b> in macOS, just drag this to your bookmark bar: 
          span#bookmarklet-wrapper
            a.button(href=linkHref) PiPify
          | You can show it in macOS with 
          code ⌘ + ⇧ + B
          | if you don't see it.
        
        p.
          <b>To use it</b>, click the PiPify button in your bookmarks. The videos currently playing in the page will be shown in light blue. Click the one you want to PiPify, or elsewhere to cancel. To avoid some edge cases, it is recommended that you start playing the video before trying to PiPify it. It will not work if the video is embedded and not hosted in the same site.
        
        p <b>Test it here!</b> Click the button above and see what it does.

        video(src="example.mp4" autoplay loop muted)

        p
          strong Obviously, this only works in Safari on macOS Sierra or iOS 9 or later.
          |  If you're using other version, you might want to take a look at 
          a(href="http://heliumfloats.com") Helium
          | .
    
    footer
      p.wrapper
        | Made by 
        a(href="https://carlosprecioso.com") Carlos Precioso
        | . See the code in 
        a(href="https://gitlab.com/cprecioso/pipify") GitLab
        | .
