* {
  font-weight: 200;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
}

body > * {
  flex: 1 0;
  padding: 0;
}

.wrapper {
  width: 80vw;
  max-width: 500px;
  margin: 0 auto;
  padding: .2em 0;
}

header {
  background: rgb(50, 100, 255);
  color: white;
  border-bottom: 5px dashed white;
  padding: 10vh 0;
}

header h1 {
  padding: 0;
  font-size: 3em;
}

header h2 {
  padding-top: 0;
  font-size: 1.2em;
}

header h3 {
  font-size: .9em;
}

header code {
  background: rgba(0, 0, 0, .5);
}

main p {
  text-align: justify;
}

main p#install {
  text-align: center;
}

#bookmarklet-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
}

.button {
  background: rgb(50, 100, 255);
}

footer {
  background: lightgray;
  color: black;
}
